
:root{
    --primary:#CE4283;
    --secondary:#8043D9;
}

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    
}

         /*topbar css*/
.topbar{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    padding: 25px 80px;
    align-items: center;
}
.topbar a {
text-decoration: none;
}
.topbar ul li{
    display: inline-block;
    margin-right: 50px;
}

.topbar ul li a {
    text-decoration: none;
    color: #006;
}

.topbar button {
 background-color:#a02279;
 padding: 15px 32px;
 color: white;
 border-radius: 8px;
 border: none;
}

/*hero css*/
.hero{
  padding: 25px 80px;
  display:flex;
  min-height: 500px;
}

.hero-content{
 flex: 55%;
 padding: 20px 30px;
 margin: auto 0 auto 80px;
 }

.hero-content h2{
 font-size: 2.5rem;
 margin-bottom: 40px;
 color:#006;
 line-height: 1.5;
}

.hero-content h2 span{
 color:#a02279;
}

.hero-content p{
 margin-bottom: 40px;
 line-height: 1.2;
 font-size: 1rem;
}

.hero-content .search input {
    padding: 20px 40px;
    border:1px #000 solid;
    outline:none;
    border-radius: 8px;
}

.hero-content .search button{
    padding: 20px 80px;
    background-color:#a02279;
    border: none;
    outline: none;
    border-radius: 8px;
    color: white;
}

.hero-img{
    flex:45%;
    padding: 30px; 
}